header { background-color: rgb(185, 160, 160);
height: 150px;


}
nav {
height: 100px;
background-color: rgb(246, 246, 246);

}
.c1 {
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

}
.c2 {
  color: rgb(185, 160, 160);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.h{
  display: block;
  width: 4s0%;
  margin: auto;
 width:600px;
 height:500px;
}
   

img {
   
  }
.p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
   

}

.p2{
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: larger;
font-weight: bold;
font-style: italic;
}
.p6{
text-align: right;

}
table {
border: 3px;
border-collapse: collapse;

}
footer{
    background-color: rgb(239, 214, 236);
}
.b1 {
    text-align: right;
    font-weight: bold;
    font-family: Verdana;
    font-style: italic;
  font-size: 20px;
}
.c7 {
    font: sans-serif;
}
.u {
    display: flex;

}
.up {
    background-color: blue;
    width: 200px;
    height: 80px;
   text-align: center;
}
.pu {
  background-color: aqua;
  width: 200px;
  height: 80px;
  text-align: center;
}
input, textarea, select {
  padding:3px;
  border:2px solid #F5C5C5;
  border-radius:5px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  }
.cn {
display: flexbox;

  }
  body {
    background-color: white;
   
  }
  .hty {
    color: rgb(81, 24, 81);
  }